/* Importing fonts */
@import url('https://fonts.googleapis.com/css2?family=Delius+Swash+Caps&family=Sour+Gummy:ital,wght@0,100..900;1,100..900&display=swap');

/* Settings for the root */
.root {
    -fx-font-family: 'Sour Gummy';
}

/* Specific font for the logo */
.logoLabel {
    -fx-font-family: 'Delius Swash Caps';
    -fx-font-size: 55px;
    -fx-text-fill: #FCFAF2;
}

.logoLabelSmall {
    -fx-font-family: 'Delius Swash Caps';
    -fx-font-size: 35px;
    -fx-text-fill: black;
}

.logoLabelTiny {
    -fx-font-family: 'Delius Swash Caps';
    -fx-font-size: 28px;
    -fx-text-fill: black;
}

/* Get Started Button */
.getStartedButton {
    -fx-font-size: 16px;
    -fx-padding: 10 20 10 20;
    -fx-background-radius: 50;
    -fx-background-color: #FFBFC5;
    -fx-text-fill: #FCFAF2;
}

.getStartedButton:hover {
    -fx-background-color: #FCFAF2;
    -fx-text-fill: #FFBFC5;
}

/* Standard Pink Button */
.standardPinkButton {
    -fx-font-size: 16px;
    -fx-padding: 10 12 10 12;
    -fx-background-radius: 50;
    -fx-background-color: #EB8DB5;
    -fx-text-fill: #F6CBDE;
}

.standardPinkButton:hover {
    -fx-background-color: #F6CBDE;
    -fx-text-fill: #EB8DB5;
}

/* Small Standard Blue Button */
.smallStandardBlueButton {
    -fx-font-size: 14px;
    -fx-padding: 8;
    -fx-background-radius: 50;
    -fx-background-color: #8FC4E0;
    -fx-text-fill: #DFEEF6;
}

.smallStandardBlueButton:hover {
    -fx-background-color: #DFEEF6;
    -fx-text-fill: #8FC4E0;
}

/* Text Field Style */
.text-field {
    -fx-background-color: #FFFFFF;
    -fx-border-color: #EB8DB5;
    -fx-border-radius: 50;
    -fx-background-radius: 50;
    -fx-padding: 5 10;
    -fx-font-size: 14px;
    -fx-text-fill: #333333;
    -fx-prompt-text-fill: #999999;
}

.searchButton {
    -fx-font-size: 16px;
    -fx-padding: 5 20 5 20;
    -fx-background-radius: 50;
    -fx-background-color: #EB8DB5;
    -fx-text-fill: #FCFAF2;
}

/* Filter buttons */
.filterButton {
    -fx-background-color: transparent;
    -fx-font-size: 14px;
    -fx-text-fill: #A8D1E7;
    -fx-font-weight: bold;
}

/* Tutorial Button */
.tutorialButton {
    -fx-background-color: #A8D1E7;
    -fx-font-size: 14px;
    -fx-text-fill: #FCFAF2;
    -fx-font-weight: bold;
    -fx-background-radius: 50;
}

/* Next Step Button */
.nextStepButton {
    -fx-font-size: 16px;
    -fx-padding: 10 20 10 20;
    -fx-background-radius: 50;
    -fx-background-color: #E774A6;
    -fx-text-fill: #FCFAF2;
}

.nextStepButton:hover {
    -fx-background-color: #FCFAF2;
    -fx-text-fill: #E774A6;
}

/* Scroll Pane */
.simpleScrollPane {
    -fx-background-color: transparent; /* Remove background */
    -fx-padding: 0;
}

.simpleScrollPane .viewport {
    -fx-background-color: transparent;
}

.simpleScrollPane .scroll-bar:horizontal {
    -fx-background-color: transparent;
    -fx-pref-width: 8px;
}

.simpleScrollPane .scroll-bar:horizontal .track {
    -fx-background-color: transparent;
}

.simpleScrollPane .scroll-bar:horizontal .thumb {
    -fx-background-color: #A8D1E7;
    -fx-background-insets: 2;
    -fx-background-radius: 5;
}

.simpleScrollPane .scroll-bar:vertical {
    -fx-background-color: transparent;
    -fx-pref-width: 13px;
}

.simpleScrollPane .scroll-bar:vertical .track {
    -fx-background-color: transparent;
}

.simpleScrollPane .scroll-bar:vertical .thumb {
    -fx-background-color: #D4A3C4;
    -fx-background-insets: 2;
    -fx-background-radius: 5;
}

/* TitledPane */
.titled-pane > .title {
    -fx-background-color: #E774A6;
    -fx-background-radius: 15 15 0 0;
    -fx-font-weight: bold;
    -fx-font-size: 16px;
}

.titled-pane > .content {
    -fx-background-color: #FCFAF2;
    -fx-padding: 10px;
    -fx-border-radius: 0 0 15 15;
    -fx-background-radius: 0 0 15 15;
    -fx-font-size: 14px;
}

/* Main Component Label */
.mainComponentLabel {
    -fx-text-fill: #FCFAF2;
    -fx-font-size: 16px;
    -fx-font-weight: bold;
}

.mainComponentVBox {
    -fx-background-color: #A8D1E7;
    -fx-background-radius: 50;
    -fx-padding: 10;
}

