/* Importing fonts */
@import url('https://fonts.googleapis.com/css2?family=Delius+Swash+Caps&family=Sour+Gummy:ital,wght@0,100..900;1,100..900&display=swap');

/* Settings for the root */
.root {
    -fx-font-family: 'Sour Gummy';
}

/* Specific font for the logo */
.logoLabel {
    -fx-font-family: 'Delius Swash Caps';
    -fx-font-size: 55px;
    -fx-text-fill: #FCFAF2;
}

.logoLabelSmall {
    -fx-font-family: 'Delius Swash Caps';
    -fx-font-size: 35px;
    -fx-text-fill: black;
}

/* Get Started Button */
.getStartedButton {
    -fx-font-size: 16px;
    -fx-padding: 10 20 10 20;
    -fx-background-radius: 50;
    -fx-background-color: #FFBFC5;
    -fx-text-fill: #FCFAF2;
    -fx-cursor: hand;
}

.getStartedButton:hover {
    -fx-background-color: #FCFAF2;
    -fx-text-fill: #FFBFC5;
}

/* Text Field Style */
.text-field {
    -fx-background-color: #FFFFFF;
    -fx-border-color: #EB8DB5;
    -fx-border-radius: 50;
    -fx-background-radius: 50;
    -fx-padding: 5 10;
    -fx-font-size: 14px;
    -fx-text-fill: #333333;
    -fx-prompt-text-fill: #999999;
}

.searchButton {
    -fx-font-size: 16px;
    -fx-padding: 5 20 5 20;
    -fx-background-radius: 50;
    -fx-background-color: #EB8DB5;
    -fx-text-fill: #FCFAF2;
    -fx-cursor: hand;
}

/* Filter buttons */
.filterButton {
    -fx-background-color: transparent;
    -fx-font-size: 12px;
    -fx-text-fill: #A8D1E7;
}

.specialFilterButton {
    -fx-cursor: hand;
}

/* Buttons Scroll Pane */
.buttonsScrollPane {
    -fx-background-color: transparent; /* Remove background */
    -fx-padding: 0;
}

.buttonsScrollPane .viewport {
    -fx-background-color: transparent;
}

.buttonsScrollPane .scroll-bar:horizontal {
    -fx-background-color: transparent;
    -fx-padding: 0 2 0 0;
    -fx-pref-width: 8px;
}

.buttonsScrollPane .scroll-bar:horizontal .track {
    -fx-background-color: transparent;
}

.buttonsScrollPane .scroll-bar:horizontal .thumb {
    -fx-background-color: #A8D1E7;
    -fx-background-insets: 2;
    -fx-background-radius: 5;
}